<div ng-include src='"partials/menu"'></div>

    <div id="content" class="sidebar"> <!-- Content start -->
        <div class="top_bar">
            <ul class="breadcrumb">
              <li><a href="dashboard.html"><i class="icon-signal"></i></a> <span class="divider">/</span></li>
              <li class="active"><a href="#">Estadísticas</a></li>
            </ul>
        </div>

        <div class="inner_content">

            <div class="statistic clearfix">
                <div class="current_page pull-left">
                    <span><i class="icon-signal"></i> Estadísticas</span> <span class="hidden-480 quote">- Un resumen de las actividades  </span>
                </div>
            </div>

            <div class="status-widgets">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="widget blue clearfix">
                            <div class="options">
                                <i class="icon-calendar"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    {{equipos_conectados_este_mes}}
                                </div>
                                <div class="description">
                                    Equipos conectados este mes
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="span4">
                        <div class="widget grey clearfix">
                            <div class="options">
                                <i class="icon-globe"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    {{equipos_conectados_en_total}}
                                </div>
                                <div class="description">
                                    Equipos conectados en total
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="span4">
                        <div class="widget red clearfix">
                            <div class="options">
                                <i class="icon-bar-chart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    {{equipos_sin_reportarse}}
                                </div>
                                <div class="description">
                                    Equipos sin reportarse este mes
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widgets_area">

                <div class="row-fluid">
                    <div class="span7">
                        <div class="well red">
                            <div class="well-header">
                                <h5>Notificaciones agrupadas por mes</h5>
                            </div>

                            <div class="well-content">
                                <div class="no-search">

                                    <select ng-model="criterio" ng-options="c.etiqueta for c in criterios"></select>
                                </div>

                                <div>

                                    <canvas tc-chartjs chart-type="bar" chart-options="options" 
                                            chart-data="datos" width="600" height="350"></canvas>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="span5">
                        <div class="well dark_blue">
                            <div class="well-header">
                                <h5>Notificaciones</h5>
                            </div>

                            <div class="well-content no_padding">
                                <ul class="rows">
                                    <li ng-repeat='evento in eventos'>
                                        <span class="icon {{evento.clase}}"><i class="icon-bolt"></i></span>
                                        <p><span class='fecha'>{{evento.fecha | date:'yyyy-MM-dd HH:mm:ss'}}</span> - {{evento.texto}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>