
    <div id="content" class="sidebar"> <!-- Content start -->
        <div class="top_bar">
            <ul class="breadcrumb">
              <li><a href="dashboard.html"><i class="icon-signal"></i></a> <span class="divider">/</span></li>
              <li class="active"><a href="#">Estadísticas</a></li>
            </ul>
        </div>
        <div class="inner_content">
            <div class="statistic clearfix">
                <div class="current_page pull-left">
                    <span><i class="icon-signal"></i> Estadísticas</span> <span class="hidden-480 quote">- Un resumen de las actividades  </span>
                </div>
            </div>





            <div class="status-widgets">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="widget blue clearfix">
                            <div class="options">
                                <ul>
                                    <li><a href="#"><i class="icon-cog"></i></a></li>
                                    <li><a href="#"><i class="icon-refresh"></i></a></li>
                                </ul>
                                <i class="icon-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    382
                                </div>
                                <div class="description">
                                    New Orders
                                </div>
                            </div>
                            <a href="#" class="more"><i class="icon-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="span4">
                        <div class="widget grey clearfix">
                            <div class="options">
                                <ul>
                                    <li><a href="#"><i class="icon-cog"></i></a></li>
                                    <li><a href="#"><i class="icon-refresh"></i></a></li>
                                </ul>
                                <i class="icon-globe"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    52.587
                                </div>
                                <div class="description">
                                    New Visitors
                                </div>
                            </div>
                            <a href="#" class="more"><i class="icon-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="span4">
                        <div class="widget red clearfix">
                            <div class="options">
                                <ul>
                                    <li><a href="#"><i class="icon-cog"></i></a></li>
                                    <li><a href="#"><i class="icon-refresh"></i></a></li>
                                </ul>
                                <i class="icon-bar-chart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    $253k
                                </div>
                                <div class="description">
                                    Monthly Earning
                                </div>
                            </div>
                            <a href="#" class="more"><i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="widgets_area">

                <div class="row-fluid">
                    <div class="span7">
                        <div class="well red">
                            <div class="well-header">
                                <h5>Notificaciones por fecha</h5>
                                <ul>
                                    <li><a href="#"><i class="icon-rotate-right"></i></a></li>

                                </ul>
                            </div>

                            <div class="well-content">
                                <div class="no-search">
                                    <select class="chosen">
                                        <option>Todos</option>
                                        <option>Solo este mes</option>
                                        <option>Solo hoy</option>

                                    </select>
                                </div>
                                <div id="chartLine01" style="height: 250px; width: 100%;"></div>
                            </div>
                        </div>


                    </div>

                    <div class="span5">
                        <div class="well dark_blue">
                            <div class="well-header">
                                <h5>Notificaciones</h5>
                                <ul>
                                    <li class="collapse_well"><a href="#"><i class="icon-minus"></i></a></li>
                                </ul>
                            </div>

                            <div class="well-content no_padding">
                                <ul class="rows">
                                    <li>
                                        <span class="icon error"><i class="icon-bolt"></i></span>
                                        <p>Server overloaded, please take care of it!</p>
                                    </li>
                                    <li>
                                        <span class="icon info"><i class="icon-bell"></i></span>
                                        <p>New update for cms is available.</p>
                                    </li>
                                    <li>
                                        <span class="icon success"><i class="icon-ok"></i></span>
                                        <p>New settings saved successfully.</p>
                                    </li>
                                    <li>
                                        <span class="icon warning"><i class="icon-bullhorn"></i></span>
                                        <p>You are reaching your diskspace limit.</p>
                                    </li>
                                    <li>
                                        <span class="icon error"><i class="icon-bolt"></i></span>
                                        <p>Diskspace limit reached. <a href="#">Expand</a> your limit!</p>
                                    </li>
                                    <li>
                                        <span class="icon info"><i class="icon-bell"></i></span>
                                        <p>New version 1.01 is available for download!</p>
                                    </li>
                                    <li>
                                        <span class="icon success"><i class="icon-ok"></i></span>
                                        <p>New order recieved from user <a href="#">rhoulettex</a>
                                    </li>
                                    <li>
                                        <span class="icon warning"><i class="icon-bullhorn"></i></span>
                                        <p>This could be a warning on something...</p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        

                    </div>
                </div>

            </div>
        </div>
    </div>