<div id="main_navigation" class="dark_navigation">
    <div class="inner_navigation">
        <ul class="main">
            <li><a href="/#/mapas"><i class="icon-map-marker"></i> Mapas</a></li>
            <li><a href="/#/estadisticas"><i class="icon-signal"></i> Estadísticas</a></li>
        </ul>
    </div>
</div>