<!DOCTYPE html>
<html lang="es" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Servidores escolares</title>
    <meta name="description" content="Un sistema de reportes y estadisticas de servidores">
    <meta name="author" content="Hugo Ruscitti">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/app.css" rel="stylesheet">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/stylesheet.css" rel="stylesheet">
    <link href="css/leaflet.css" rel="stylesheet">
    <link href="icon/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

  </head>

  <body ng-controller='AppCtrl'>


<header class="dark_grey"> <!-- Header start -->
        <a href="#" class="logo_image"><span class="hidden-480">HuayraStats</strong></span></a>
        <ul class="header_actions pull-left hidden-480 hidden-768">
            <li rel="tooltip" data-placement="bottom" title="Ocultar barra de navegación" ><a href="#" class="hide_navigation"><i class="icon-chevron-left"></i></a></li>
        </ul>
        <ul class="header_actions">

            <li><a href="#"><i class="icon-signout"></i> <span class="hidden-768 hidden-480">Salir</span></a></li>
            <li class="responsive_menu"><a class="iconic" href="#"><i class="icon-reorder"></i></a></li>
        </ul>
    </header>

    <div id="main_navigation" class="dark_navigation"> <!-- Main navigation start -->
        <div class="inner_navigation">
            <ul class="main">
                <li><a href="/mapas"><i class="icon-map-marker"></i> Mapas</a></li>
                <li><a href="/estadisticas"><i class="icon-signal"></i> Estadísticas</a></li>
            </ul>
        </div>
    </div>


	<%- body %>


<!--
    <footer>
        <span class="hidden-480">Equipo Huayra</span>
        <ul>
            <li><a href="#">Contactar al administrador</a></li>
        </ul>
    </footer>
-->

  <script src='js/d3.v3.min.js'></script>
  <script src='js/reusable_charts.js'></script>

    <script src='/socket.io/socket.io.js'></script>
    <script src='bower_components/angular/angular.js'></script>
    <script src='bower_components/angular-socket-io/socket.js'></script>
    <script src='js/app.js'></script>
    <script src='js/services.js'></script>
    <script src='js/controllers.js'></script>
    <script src='js/filters.js'></script>
    <script src='js/directives.js'></script>
    

    <!-- Plugins Bootstrap -->
      <script src="js/jquery-1.10.2.js"></script>
      <script src="js/jquery-ui-1.10.3.js"></script>
      <script src="js/bootstrap.js"></script>

      <script src="js/library/jquery.collapsible.min.js"></script>
      <script src="js/library/jquery.mCustomScrollbar.min.js"></script>
      <script src="js/library/jquery.mousewheel.min.js"></script>
      <script src="js/library/jquery.uniform.min.js"></script>

      <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCL6XtCGot7S7cfxnO6tRfeZx9kLQQRMtA&amp;sensor=false"></script>
      <script src="js/library/jquery.sparkline.min.js"></script>
      <script src="js/library/chosen.jquery.min.js"></script>
      <script src="js/library/jquery.easytabs.js"></script>
      <script src="js/library/flot/excanvas.min.js"></script>
      <script src="js/library/flot/jquery.flot.js"></script>
      <script src="js/library/flot/jquery.flot.pie.js"></script>
      <script src="js/library/flot/jquery.flot.selection.js"></script>
      <script src="js/library/flot/jquery.flot.resize.js"></script>
      <script src="js/library/flot/jquery.flot.orderBars.js"></script>
	<!--
      <script src="js/library/maps/jquery.vmap.js"></script>
      <script src="js/library/maps/maps/jquery.vmap.world.js"></script>
      <script src="js/library/maps/data/jquery.vmap.sampledata.js"></script>
 	-->
 	<!-- plugins adicionales -->
      <script src="js/library/jquery.autosize-min.js"></script>
      <script src="js/library/charCount.js"></script>
      <script src="js/library/jquery.minicolors.js"></script>
      <script src="js/library/jquery.tagsinput.js"></script>
      <script src="js/library/fullcalendar.min.js"></script>
      <script src="js/library/footable/footable.js"></script>
      <script src="js/library/footable/data-generator.js"></script>

      <script src="js/library/bootstrap-datetimepicker.js"></script>
      <script src="js/library/bootstrap-timepicker.js"></script>
      <script src="js/library/bootstrap-datepicker.js"></script>
      <script src="js/library/bootstrap-fileupload.js"></script>
      <script src="js/library/jquery.inputmask.bundle.js"></script>

      <script src="js/flatpoint_core.js"></script>

      <script>
          jQuery('#vmap').vectorMap({
              map:"world_en",
              backgroundColor:null,
              color:"#ffffff",
              hoverOpacity:.7,
              selectedColor:"#2d91ef",
              enableZoom:0,
              showTooltip:1,
              values:sample_data,
              scaleColors:["#8cc3f6","#5c86ac"],
              normalizeFunction:"polynomial",
              onRegionClick:function(){alert("This Region has "+(Math.floor(Math.random()*10)+1)+" users!"
              )}
          });

          jQuery(document).ready(function($) {
              $('.footable').footable();
              $('.responsive_table_container').mCustomScrollbar({
                  set_height: 400,
                  advanced:{
                    updateOnContentResize: true,
                    updateOnBrowserResize: true
                  }
              });

              $('.responsive_table_container_2').mCustomScrollbar({
                  set_height: 520,
                  advanced:{
                    updateOnContentResize: true,
                    updateOnBrowserResize: true
                  }
              });

              $('.inner_sidebar').easytabs({
                  animationSpeed: 300,
                  collapsible: false,
                  updateHash: false
              });
          });
      </script>

      <script src="js/calendar.js"></script>
      <script src="js/forms.js"></script>
      <script src="js/dashboard.js"></script>

  	<!-- Mapa -->
	<script src='js/leaflet.js'></script>
	<script src='js/angular-leaflet-directive.min.js'></script>

  </body>

</html>

